.service {
  background-color: #121212;
  padding: 150px 0;
  margin-bottom: 0;
}

/* .service__container {
   background-color: #121212;
   padding: 150px 0;
 } */

.service__heading {
  color: #fff;
}

.service__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 80px;
  margin-bottom: 110px;
}

.service__item {
  width: calc(50% - 5px);
  position: relative;
}

/* .service__item:last-child {
   margin-bottom: 0;
 } */

.service__img {
  margin-bottom: 15px;
  width: 100%;
}

.service__price {
  position: absolute;
  top: 32px;
  left: 30px;
  display: inline-block;
  color: #fff;
  background-color: #ad1818;
  font-size: 22px;
  padding: 5px 20px;
  border-radius: 5px;
}

.service__text {
  color: white;
  font-size: 30px;
  letter-spacing: -0.03em;
  font-weight: 400;
}

@media (max-width: 1199px) {
  .service__text {
    font-size: 25px;
  }

  .service__price {
    font-size: 20px;
    padding: 6px 26px;
  }
  .service__list {
    row-gap: 60px;
    margin-bottom: 80px;
  }
}

@media (max-width: 757px) {
  .service {
    padding: 80px 0;
  }

  .service__list {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .service__item {
    width: 100%;
  }

  .service__text {
    font-size: 18px;
  }

  .service__price {
    top: 24px;
    left: 24px;
    font-size: 14px;
  }
}
